*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 80%;
    margin: auto;
}

fieldset {
    background-color: #E0DBE7 ;
}

label {
    margin-right: 10px;
    width: 80px;
    display: inline-block;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border:40px solid #e04122;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: 0%;
}

